<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Probono APP</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <div id="logo">
            PROBONO
        </div>
        <div id="login">
            <div class="login">
                <form action="/api/salvarCliente" method="post" id="logar">
                    <input type="text" placeholder="CPF" value="" id="cpf" name="cpf"><br>
                    <input type="password" placeholder="Senha" id="passw" name="password"><br>
                    <button type="submit" id="logar" value="Entrar">
                        Entrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>