<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Probono APP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1 id="logo"> PRO BONO </h1>
    </header>
    <div id="container">
        <% if(validacao.length > 0 ) { %>
        <div class="error">
            <strong>Atenção!</strong>
            <ul>
                <%for(var i=0; i < validacao.length > 0; i++){%>
                <li><%=validacao[i].msg%></li>
                <% } %>
            </ul>
        </div>
        <%}%>
        <div id="clienteCadastro">             
                <form action="/cliente/incluir" method="post">
                    <h3 class="titulo">CADASTRO DE CLIENTE</h3>
                    <label for="cpf">CPF CLIENTE</label>
                    <input type="text" placeholder="000.000.000-00" value="" id="cpf" name="cpf" maxlength="11" /><br>
                    <label for="password">SENHA</label>
                    <input type="password" placeholder="Senha" id="passw" name="password" /><br>
                    <button class="btn" type="submit" id="logar" value="Entrar">
                        CADASTRAR
                    </button>
                </form><br>
                <button class="btn" id="cancelar">
                    CANCELAR
                </button>
        </div>
    </div>
</body>
<script>
    document.getElementById('cancelar').addEventListener('click', function () {
        window.location.href = "/";
    })
</script>
</html>