<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Probono APP</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <div id="logo">
            PROBONO
        </div>
        <div id="login">
            <div id="andamentoCadastro">
                <form action="/api/salvarProcesso" method="post" id="logar">
                    <label for="descAndamento">Descrição do andamento</label>
                    <textarea placeholder="Descrição do Andamento" value="" id="descAndamento" name="descAndamento"> </textarea><br>
                    <label for="cpfCliente">CPF do Cliente</label>
                    <input type="number" id="cpfCliente" name="cpfCliente" placeholder="000000000-00"><br>
                    <button type="submit" id="cadastrar" value="Cadastrar">
                        Cadastrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>