html{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

body{
    margin: 0;
}

header{
    padding-top: 5px;
    background-color: rgb(243,243,243);
    border-bottom: 3px solid rgb(235,235,235);
    margin-bottom: 40px;
}

#logo{
    margin-left: 50px;
    width: fit-content;
}

a{
    text-decoration: none;
}

a, a:visited{
    color: #6765ff;
}

#logo > a:visited{
    color: #4b49ac;
}

a:hover{
    color: rgb(111, 93, 172);
    background: rgb(229, 228, 235);
}

a:active, #logo > a:active{
    color: rgb(229, 228, 235);
    background: rgb(111, 93, 172);
}

#container{
    display: flex;
    width: 1000px;
    height: fit-content;
    padding-bottom: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: rgb(252, 252, 252);
    border: 2px solid rgb(240, 240, 240);
    border-radius: 8px;
    box-shadow: 1px 1px 5px 3px rgb(235, 235, 235);
}

#cadastrarProcesso, .processos, .andamentos{
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
}

#cadastroTraducao{
    transform: translateY(-50px);
}

#cadastro{
    display: flex;
    flex-direction: column;
}

#login{
    transform: translateX(-100px);
    width: 400px;
}

.login{
    height: 200px;
    width: 400px;
}

#sair{
    float: right;
    transform: translate(-100px, -37px);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    margin-bottom: 30px;
}

input{
    box-shadow: 1px 1px 5px 3px rgb(235, 235, 235);
    margin-top: 15px;
    width: 325px;
    padding-left: 10px;
    height: 25px;
    border: 1px solid #000;
    color: #000;
    border-radius: 7px;
}

input:focus, textarea:focus{
    background-color: rgb(240, 245, 245);
    border-radius: 7px;
    outline: none;
    border: 1px solid #000;
    color: #000;
}

#cadastrarProcesso{
    border: 1px solid rgb(230, 230, 230);
    height: 400px;
    transform: translate(-11%, 4%);
}

textarea{
    margin: auto;
    margin-top: 15px;
    width: 337px;
    border-radius: 7px;
    resize: none;
    height: 70px;
}

.btn{
    height: 50px;
    box-shadow: 1px 1px 5px 3px rgb(235, 235, 235);
    background-color: #4b49ac;
    width: 337px;    
    color: #fff;
    border: none;
    border-radius: 7px;
    margin: 10px;
}

.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.btn:active{
    background: rgb(247, 247, 247);
    outline: none;
    color: #000;
    border: 0.5px solid #000;
}

.btn:enabled{
    outline: none;
}

.btn:active{
    outline: none;
}

.btnCadastro{
    margin-top: 50px;
    transform: translate(90px, 200px);
}

#btnlista{
    margin-left: 51.5px;
}

#numeroProcesso{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    transform: translateX(9px);
    background-color: #fff;
    margin-right: 15px;
    width: 375px;
}

#numeroProcesso h3{
    margin-right: 20px;
    padding-left: 15px;
    width: 156px;
}

#processo{
    transform: translateX(45px);
}

#andamento{
    transform: translateY(25px);
    margin-left: 144px;
}

#processos{
    margin-top: 20px;
    margin-bottom: -25px;
}

#processos, #andamentos{
    overflow: auto;
    height: 500px;
    width: 400px;
}

#infoProcesso{
    margin-top: 10px;
    transform: translateX(65px);
    padding: 20px;
    padding-bottom: 45px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(240,240,240);
    border-radius: 8px;
    height: 675px;

}

#areaTraducao{
    margin-left: 25px;
}

#btnTraduzir{
    margin-left: 27px;
}

#traduc{
    color: #000;
    background-color: #fff;
    border: 1px solid rgb(230,230,230);
    border-radius: 8px;
    margin-left: 5px;
    width: 380px;
    height: 300px;
}

#traduc li{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.processos, .andamentos{
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(230, 230, 230);
    transform: translateY(-15px);
}

.processos li, .andamentos li{
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
}

.andamentos li{
    padding: 20px;
    text-align: left;
}

.andamentos h4{
    margin-top: -5px;
}

.border-borderRadius3{
    border: 1px solid rgb(230,230,230);
    border-radius: 4px;
}

#lista{
    padding: 0;
    margin: 0;
}

li{    
    border: 1px solid rgb(230,230,230);
    list-style: none;
}