<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Probono APP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1 id="logo">
            <a href="/">
                PRO BONO
            </a>
        </h1>
        <div id="sair">
            <button class="btn" type="button" id="sair">
                Sair
            </button>
        </div>
    </header>
    <div id="container">
        <div id="infoProcesso">
            <div id="numeroProcesso">
                <h3>Processo Número: </h3>
                <span class="border-borderRadius3">
                    <%=numeroProcesso%>
                </span>
            </div>
            <%if(req.session.autorizadoAdvogado == true){%>
            <div id="cadastrarAndamento">
                <form action="/andamento/incluir" method="post">
                    <h3>CADASTRO DE ANDAMENTO</h3>
                    <label for="descAndamento">DESCRIÇÃO DO ANDAMENTO</label>
                    <textarea placeholder="Descrição do Andamento" value="" id="descAndamento"
                        name="descAndamento"></textarea><br>
                    <label for="traducao">TRADUÇÂO DO ANDAMENTO</label>
                    <textarea placeholder="Tradução do Andamento" value="" id="tradAndamento"
                        name="tradAndamento"></textarea><br>
                    <button class="btn" type="submit" id="cadastrar" value="Cadastrar">
                        CADASTRAR
                    </button>
                </form> <br>
            </div>
            <%}%>
        </div>
        <div id="andamento">
            <div id="andamentos" class="andamentos">
                <%if(andamento !== 'undefined'){%>
            <ul id="lista">
                <%for(var i = 0; i < andamento.length; i++){%>
                <li>
                    <h4 class="andamentosDesc">Descrição do Andamento</h4>
                    <p class="border-borderRadius3">
                        <%=andamento[i].descAndamento%>
                    </p>
                </li>
                <%}%>
                </ul>
                <%}%>
        </div>
    </div>
    </div>
</body>
<script>
    document.getElementById('sair').addEventListener('click', function () {
        window.location.href = "/sair";
    });
</script>

</html>