<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Probono APP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1 id="logo">
            <a href="/">
                PRO BONO
            </a>
        </h1>
    </header>
    <div id="container">
        <% if(validacao.length > 0 ) { %>
        <div class="error">
            <strong>Atenção!</strong>
            <ul>
                <%for(var i=0; i < validacao.length > 0; i++){%>
                <li><%=validacao[i].msg%></li>
                <% } %>
            </ul>
        </div>
        <%}%>
        <div id="login">            
            <div id="advogadoLogin">                
                <form action="/autenticarAdvogado" method="post" id="logarAdvogado">
                    <h3 class="titulo">LOGIN ADVOGADO</h3>
                    <label>EMAIL</label>
                    <input type="text" placeholder="Email" value="" id="email" name="email"><br>
                    <label>SENHA</label>
                    <input type="password" id="pass" placeholder="Senha" name="password"><br>
                    <button type="submit" class="btn" id="btn_logarAdvogado">
                        ENTRAR
                    </button>
                </form>
            </div>
            <div id="clienteLogin">                
                <form action="/autenticarCliente" method="post" id="logarCliente">
                    <h3 class="titulo">LOGIN CLIENTE</h3>
                    <label>CPF</label>
                    <input type="text" placeholder="CPF" value="" id="cpf" name="cpf" maxlength="11"><br>
                    <label>SENHA</label>
                    <input type="password" placeholder="Senha" id="passw" name="password"><br>
                    <button type="submit" class="btn" id="btn_logarCliente">
                        ENTRAR
                    </button>
                </form>
            </div>
        </div>
        <div id="cadastro">
            <button class="btn btnCadastro" type="button" id="cadastroAdvogado">
                CADASTRAR ADVOGADO
            </button>
            <button class="btn btnCadastro" type="button" id="cadastroCliente">
                CADASTRAR CLIENTE
            </button>
        </div>
    </div>
</body>
<script>
    document.getElementById('cadastroAdvogado').addEventListener('click', function () {
        window.location.href = "/cadastroAdvogado";
    });
</script>
<script>
    document.getElementById('cadastroCliente').addEventListener('click', function () {
        window.location.href = "/cadastroCliente";
    });
</script>

</html>